/* main */
.main {
    width: 100%;
    padding: 10px;

    /* background-color: peachpuff; */
}

.search {
    width: 100%;
}


.search-bg {
    width: 100%;
    /* padding: 10px 10px; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    /* margin: 20px 0px; */
}

.search-btn {
    padding: 0px 0px 0px 10px;
    align-items: center;
    
}

.search {
    display: flex;
}

.search-bg input {
    width: 100%;
    font-size: 16px;
    border: none;
    align-items: center;
    outline: none;
    padding: 10px;
    background-color: #f5f4f4;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.search-bg input:focus {
    outline: none;
}

.search-bg input::placeholder {
    font-size: 14px;
    color: #b7b7b7;
    font-weight: 500;
}

.search-btn button {
    background-color: #1e3978;
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

.search-btn {
    display: flex;

}

.search-btn .icon-search {
    color: var(--color-white);
    font-size: 16px;

}

.topic {
    width: 100%;
    margin-top: 30px;

}

.topic-item {
    width: 100%;
}

.topic-item__text {
    padding: 0 10px;
}

.topic-item__group {
    width: 100%;
    margin-top: 16px;
}

.topic-box {
    width: 100%;
    /* padding: 0 10px; */
}

.topic-box-item {
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: var(--color-white);
}

.topic-box-img {
    display: flex;
}

.topic-box__img {
    width: 60px;
    height: 60px;
    max-width: 100%;
    max-height: 100%;
}

.topic-box__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.topic-box-group {
    padding-left: 20px;
    align-items: center;
}

.advertisement {
    width: 100%;
    margin-top: 20px;
    /* background-color: pink; */
}

.carrousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.carrousel::-webkit-scrollbar {
    display: none;
}

.card {
    scroll-snap-align: start;
    border-radius: 30px;
    height: 160px;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card img {
    height: 100%;
    border-radius: 10px;
}
